body{
	font-family: 'Raleway', sans-serif;
	background-color: #F3F1F1;
}
p{
	font-size:15px;
}
label{
    width: 100%;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"]{
    border-radius: 5px;
    border: 1px solid #F7B5B6;
    width: 100%;
    margin-bottom: 10px;
}
input[type="submit"]{
    background-color: #FAC9CB;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #F7B5B6;
    /*margin-top:15px;*/
}
#home{
	background-image: url('../img/bgindex.jpg');
	background-position: center top;
	width: 100%;
	height: 750px;
}
img#logo{
	width: 170px;
	margin-top: 100px;
}
nav.navbar-default {
    background-color: #fff;
    border-color: transparent;
    border-top-color: #979797;
    border-bottom-color: #979797;
}
.navbar{
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-nav>li>a {
	padding: 20px;
}
#about h2,
#services h2,
#gallery h2,
#price h2,
#contact h2{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}
#about p{
	font-size: 18px;
}
#about img.icon{
	width:90px;
}
article#about,
article#services,
article#gallery,
article#price,
article#contact{
	padding-top: 60px;
	padding-bottom: 60px;
}

/* PARALLAX */
.bg-parallax{
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	/* min-height: 100%; */
	height: 400px;
 
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
}
#bg-parallax{
	background-image: url('../img/parallax.jpg');
}
.parallax-window {
    height: 400px;
    background: transparent;
}
#gallery{
	background-color: #ddd;
}
#price{
	border: 2px solid #BDBDBD;
}
#price .intro-price {
	width: 40%;
	text-align: center;
	margin-top: 160px;
}
a.btn-price{
	border: 2px solid #F7ACAD;
	color: #F7ACAD;
	border-radius: 0;
}
img.icon-servico{
	width:45px;
	height:auto;
}
.titulo{
	color: #F7ACAD;
}
main{
	min-height: 550px;
}
.bg-footer{
	background-image: url('../img/footer.png');
	background-position: center bottom;
	height: 150px;
	margin-top:20px;
}
img.logo-footer{
	width: 50px;
    padding-top: 13px;
}
/* LOGIN */
section#loginadmin{
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 50%;
    text-align: center;
}
img#imglogin{
	width: 120px;
	margin: 0 auto;
	margin-top: 30px;
}
/* PERFIL ADMIN */
nav.navbar-nav#navbar-admin{
	background-color: #fff;
    border-color: transparent;
}